.DS_Store
node_modules/*
src-tauri
stats.html
dev-dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/services/productsService.ts
src/utils/helpers.ts